{:tasks
 {:requires
  ([babashka.fs :as fs]
   [cheshire.core :as json])

  lint-deps
  (when (fs/modified-since ".clj-kondo/.cache" "deps.edn")
    (shell "bash -c" "clj-kondo --copy-configs --dependencies --lint \"$(clojure -Spath -A:dev)\" --parallel"))

  lint
  {:depends [lint-deps]
   :task    (shell "clj-kondo --lint src")}

  dev
  (shell "shadow-cljs watch app -A:dev")

  clean
  (do
    (println "Cleaning app output...")
    (fs/delete-tree ".shadow-cljs")
    (fs/delete-tree "shells/chrome/js"))

  build
  {:depends [clean]
   :task    (let [version (-> (slurp "shells/chrome/manifest.json")
                            (json/parse-string keyword)
                            :version)]
              (shell "shadow-cljs release app -A:dev")
              (shell "mkdir -p releases")
              (shell {:dir "shells/chrome"} (str "zip -r ../../releases/youtube-looper-chrome-" version ".zip . -i *")))}}}
